body{
    background: #FFFF;
}
input{
    text-align: center;
}
.titulo-principal-login{
    font-weight: bold;
}
.titulo-input-login{
    font-weight: bold;
}
.BOTON-SALIR {
	font-color: #ffff;
	float: right;
	color: #ffff;
}
#mostrar, #ocultar{
display: none;
}
#mostrar 
{

	padding: 8px;
    margin:0 ; 
}
.titulo {
	text-align: center;
	font-weight: bold;

}
