body{
    background: #0080ff;
}
input{
    text-align: center;
}
.titulo-principal-login{
    font-weight: bold;
}
.boton{
    color: black;
    font-weight: bold;
}
.titulo-input-login{
    font-weight: bold;
}